<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="herpkupapp Test Suite">
	<test name="herpkupapp test Case">
		<classes>
			<class name="com.herpkupapp.testcase.WelomePageTestCase" />
			<class name="com.herpkupapp.testcase.FramesPageTestCase" />
			<class name="com.herpkupapp.testcase.IFramesPageTestCase" />
		</classes>
	</test>
</suite>
